<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<dict>
			<key>app_r</key>
			<string>0.2</string>
			<key>app_g</key>
			<string>0.5</string>
			<key>app_b</key>
			<string>0.2</string>
			<key>app_a</key>
			<string>1</string>
			<key>banner_r</key>
			<string>1</string>
			<key>banner_g</key>
			<string>0.8</string>
			<key>banner_b</key>
			<string>0</string>
			<key>banner_a</key>
			<string>0.3</string>
			<key>month_r</key>
			<string>0.2</string>
			<key>month_g</key>
			<string>0.5</string>
			<key>month_b</key>
			<string>0.2</string>
			<key>month_a</key>
			<string>1</string>
			<key>hist_r</key>
			<string>0.2</string>
			<key>hist_b</key>
			<string>0.5</string>
			<key>hist_g</key>
			<string>0.2</string>
			<key>hist_a</key>
			<string>0.4</string>
		</dict>
		<dict>
			<key>app_r</key>
			<string>0.1</string>
			<key>app_g</key>
			<string>0.6</string>
			<key>app_b</key>
			<string>0.9</string>
			<key>app_a</key>
			<string>1</string>
			<key>banner_r</key>
			<string>0.5</string>
			<key>banner_g</key>
			<string>0.8</string>
			<key>banner_b</key>
			<string>1</string>
			<key>banner_a</key>
			<string>0.3</string>
			<key>month_r</key>
			<string>0.1</string>
			<key>month_g</key>
			<string>0.6</string>
			<key>month_b</key>
			<string>0.9</string>
			<key>month_a</key>
			<string>1</string>
			<key>hist_r</key>
			<string>0.1</string>
			<key>hist_g</key>
			<string>0.6</string>
			<key>hist_b</key>
			<string>0.9</string>
			<key>hist_a</key>
			<string>0.4</string>
		</dict>
	</array>
</dict>
</plist>
